<ion-view view-title="Profile">
  <ion-content>
    <h1>Profile</h1>
      <ion-list>
        <ion-item menu-close href="#/app/search" class="item item-icon-left">
			<i class="icon ion-person"></i> Users
        </ion-item>
        <ion-item menu-close href="#/app/playlists" class="item item-icon-left">
			<i class="icon ion-ios-people"></i>  Groups
        </ion-item>
        <ion-item menu-close href="#/login" class="item item-icon-left">
			<i class="icon ion-android-wifi"></i>  Live
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
