<ion-view view-title="Users">
	<ion-content>
	<div class="card">
  <div class="item item-divider item-icon-right">
    Users <i class="icon ion-plus"></i>
  </div>
  <div class="item item-text-wrap">
    {{users.length}} / {{max}} Slots vailable
  </div>
</div>
	<div class="card">
  <div class="item item-divider item-icon-right">
    Schedule SMS Notification <i class="icon ion-plus"></i>
  </div>
  <div class="item item-text-wrap">
    {{notification.time}}
  </div>
</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>
		<ion-list>
			<ion-item ng-repeat="user in users|filter:search|orderBy: 'title'" href="#/app/users/{{user.id}}" class="item  item-icon-left">
				<!-- <img src="venkman.jpg">item-avatar -->
				<i class="icon ion-person"></i>
				<h2>{{user.title}}</h2>
				<p>{{user.about}}</p>
				
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
