/* Empty. Add your own CSS if you like */
form input.ng-invalid {
    background-color: pink;
}
form input.ng-valid {
    background-color: lightgreen;
}
form.ng-pristine {
    background-color: lightblue;
}
form.ng-dirty {
    background-color: pink;
}